
/* Title after form */
.title-webSite
{
    font-size: 2em; 
    text-align: center;
    margin-top: 2em;
}

/* ALL container of form */
.container-form-custum
{
   margin-bottom: 3em;
}

/* Form */
.block-form-custum
{

   padding: 0.5em; 
   border: solid 2px lightgrey; 
 
}


/* Labels */
label, legend 
{
    font-size: 1.2em!important; 
    font-weight: bold;
}

.input-birth-date select
{
    width: 30%; 
    display: flex;
    margin: 0.2em;
    
     
    
}

/* Errors */
label span 
{
    font-size: 0.9em;
    font-weight: normal;

    span span:first-child {
        display: none;
        }
}




