



/******************
 TITLE BEFORE FORM 
 ******************/
.title-webSite
{
    font-size: 2em; 
    text-align: center;
    margin-top: 2em;


    img
    {
        @media (min-width: 2000px) 
        { 
           
            max-width: 20%; 
                   
        } 
    }
   

}


/**********************
 ALL container of form 
 **********************/
.container-form-custum
{
   margin-bottom: 3em;
   margin-top: 2em;
}



/*************
 FORM
 ************/
.block-form-custum
{  
   border: solid 2px lightgrey; 
   padding: 0.5em; 
  

   @media (min-width: 991.98px) 
   { 
        padding: 1em;
        margin: auto;
        width: 50%;        
   }
 
}


/***********
 Labels 
 **********/
label, legend 
{
    font-size: 1.2em!important; 
    font-weight: bold;
}


/********
 ERRORS
 ********/
label span 
{
    font-size: 0.9em;
    font-weight: normal;

    span span:first-child {
        display: none;
        }
}


/********
 BUTTON 
 ********/
.block-form-custum button 
{ 
    margin-left: 20%;
    margin-top: 1em;
    width: 60%; 
   
}


/*****************************
 Button color to validate form 
 *****************************/
.validateBtn
{
    button
    {
    background-color: #9eb66b !important;
    border-color: #9eb66b !important;
    transition: 2s;

        &:hover
        {
            border-color: #799440 !important;
            transition: 1s;
            background-color: #799440  !important;
        }

    }

    /** for login form **/
    a
    {
    background-color: #9eb66b !important;
    border-color: #9eb66b !important;
    transition: 2s;
    
        &:hover
        {
            border-color: #799440 !important;
            transition: 1s;
            background-color: #799440  !important;
        }
    }

    /** for login form **/
    #redirectBtn
    {
        width: 100% !important;
       
        @media (min-width: 992px)
        {
            width: 50% !important;
        }
    }

}





