
/****************************************************
                    image-flowers
 ***************************************************/

/****
JUMBOTRON SIZE
****/
.jumbotron-size-image-flowers 
{
    /*****
    All container jumbotron
    ******/ 

    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 35px 24px rgba(0,0,0,0.22);
    margin-bottom: 1.8em;

    @media (max-width: 991.98px) 
    {     
        height: 40vh; 
        width: 100vw; 
        padding: 2.5vh 1vw 0 1vw;
     
    }
    @media (min-width: 991.99px) and (max-width: 1000px) 
    { 
        height: 35vh; 
        padding: 2vh 1vw 0 1vw;
    }
    
    padding-left: 4vw; 
    height: 50vh;     

        /* Container of text */
        .container-size-image-flowers 
        {
            margin: 0
        }
        
        /* Title */
        .title-image-flowers
        { 
            color: #768c3d;

            @media (max-width: 550px) 
            { 
                font-size: 1.6em; 
            }

            @media (min-width: 550px) and (max-width: 767px) 
            { 
                font-size: 1.8em; 
            }

            @media (min-width: 767px) and (max-width: 1500px) 
            { 
                font-size: 2em; 
            }


            font-size: 2.5em; 
        }
        
        /* All paragraph of container jumbotron*/
        p 
        {
            color: white; 
          
        
            @media  (max-width: 550px) 
            { 
              font-size: 0.7em;
            }

            @media (min-width: 550px) and (max-width: 767px) 
            { 
                font-size: 0.8em;
            }


            @media (min-width: 767px) and (max-width: 991.98px) 
            { 
                font-size: 0.9em;
            }


            @media (min-width: 991.99px) and (max-width: 1500px) 
            { 
                font-size: 1em;
            }

            font-size: 1.2em;
        }

        /* Paragraph 1 */
        .paragraph-image-flowers-1 {
            @media (max-width: 767px) 
            { 
                margin-right: 0vw; 
            }
            @media (min-width: 767px) and (max-width: 930px) 
            { 
                margin-right: 20vw;  
            }

            @media (min-width: 930px) and (max-width: 991.98px) 
            { 
                margin-right: 10vw;
            }


            @media (min-width: 991.99px) and (max-width: 1500px) 
            { 
                padding-top: 1vw; 
                margin-right: 30vw;
            }

            padding-top: 2vw;
            margin-right: 10vw;    
            
        }
        
        /* Paragraph 2 */
        .paragraph-image-flowers-2 
        {
           

            @media (max-width: 767px) 
            { 
                margin-right: 15vw; 
            }

            @media (min-width: 767px) and (max-width: 930px) 
            { 
                margin-right: 30vw;  
            }

            @media (min-width: 930px) and (max-width: 991.98px) 
            { 
                margin-right: 15vw;
            }


            @media (min-width: 991.99px) and (max-width: 1500px) 
            {  
                margin-right: 30vw;
            }


            margin-right: 10vw; 
            
        }
    
        /* Paragraph 3 */
        .paragraph-image-flowers-3 

        {
            @media (max-width: 390px) 
            { 
               display: none; 
            }

            @media (min-width: 390px) and (max-width: 550px) 
            { 
                margin-right: 40vw; 
            }
            
            @media (min-width: 550px) and (max-width: 680px) 
            { 
                 margin-right: 30vw; 
            }

            @media (min-width: 680px) and (max-width: 767px) 
            { 
                margin-right: 15vw; 
            }

            @media (min-width: 767px) and (max-width: 930px) 
            { 
                margin-right: 30vw;  
            }


            @media (min-width: 930px) and (max-width: 991.98px) 
            { 
                margin-right: 15vw;
            }


            @media (min-width: 991.99px) and (max-width: 1500px) 
            {  
                margin-right: 32vw; 
            }

            margin-right: 10vw; 
          
           
        }
}       

/****
JUMBOTRON BACKGROUND
****/
.background-image-flowers 
{

    background-image: url("../images/imageHome.jpg"); 
    background-position: bottom right; 
    background-repeat: no-repeat; 

    @media (max-width: 1500px) 
    { 
        
        background-size: cover;  
        background-repeat: no-repeat; 
       
    }

    background-color: #201920
    


}


/****************************************************
        Carousel Last Articles and Best Article
 ***************************************************/

.title-custum
{  
    color: #81964d; 
    font-weight: bold;

    @media (max-width: 1000px)
    {
      font-size: 1.7em;  
    }
     
    font-size: 2em;
    
}

/* Title best article */
.best-article
{
    margin-top: 2em;    
}

/****
CONTAINER CAROUSELS 
****/
.container-carousel-custum
{
    background-color: #bacf8e;   
    
    .carousel-indicator-custum li
    {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #404040;
       
    }
}

/****
 CONTAINER OF ALL SLIDES 
****/
.container-slides-custum
{
    width: 80%; 
    margin: 2vh auto 1vh auto;
    

    /* One slide */
    .carousel-item-custum 
    {
     
        padding-bottom: 1.2em; 
        border: 1em solid  #bacf8e; 
    }
}


    
/*** 
ALL TEXT IN CARD (after image) 
****/
 .card-body-custum
{
    padding: 1vh 0 1vh 0;  
    
    /* Title card */
    .card-title-custum 
    {
        text-align: center; 
        font-weight: bold;
       
        margin: 0;  
        @media (max-width: 1000px) 
        {
            font-size: 1em; 
        }

        font-size: 1.2em; 

    }

    /* All paragraph */
    .card-paragraph
    {
        font-size: 0.9em;
        margin: 0; 
    }

    .card-paragraph-author 
    {
        font-style: italic; 
        text-align: center;
    }

    .card-paragraph-summary 
    {
        height: 100px;
        margin: 1vh 3vw 0 5vw;
        max-height: 40px;
        overflow: hidden;
        text-overflow: ellipsis; 
        overflow-wrap: break-word;

    }

    /* title, author */
    .link-custum 
    {
        color: black; 

    }
    

    .card-paragraph-note  
    {

        padding-top: 1vh;
        text-align: center;
        font-style: italic;
        font-size: 0.7em;
        margin: 0;
    }

    .btn-articleDetails
    {
        margin-top: 1vh; 
        background-color: black; 
        border-color: black; 
        padding: 0 1vw 0 1vw; 
    }

    
  
}

   

