.jumbotron-size {
    height: 33vh; 
    width: 100vw; 
}

.background-image-flowers {
    background-image: url("../images/imageHome.jpg"); 
    background-size: cover;  
    background-repeat: no-repeat; 
    background-position: bottom right;
}