
/****************************************************
                    image-flowers
 ***************************************************/

/****
JUMBOTRON SIZE
****/
.jumbotron-size-image-flowers 
{
    /*****
    All container jumbotron
    ******/ 

    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 35px 24px rgba(0,0,0,0.22);
    margin-bottom: 3.8em;
   

    @media (max-width: 500px) 
    {     
        height: 40vh; 
        width: 100vw; 
        padding: 2.5vh 1vw 0 1vw;
     
    }

    @media (min-width: 500px) and (max-width: 600px) 
    {     
        height: 40vh; 
        width: 100vw; 
        padding: 0.5vh 1vw 0 1vw;
     
    }

    @media (min-width: 600px) and (max-width: 991.98px) 
    {     
        height: 40vh; 
        width: 100vw; 
        padding: 1.5vh 1vw 0 1vw;
     
    }
 
    @media (min-width: 991.99px) and (max-width: 1000px) 
    { 
        height: 35vh; 
        padding: 2vh 1vw 0 1vw;
    }

    padding-left: 4vw; 
    height: 50vh;
    
    @media (min-height: 950px)
    { 
        height: 40vh;
    }


        /* Container parent of text */
        .container-size-image-flowers 
        {
            margin: 0; 

        }
       
        /* Title */
        .title-image-flowers
        { 
            color: #768c3d;
            

            @media (max-width: 350px) 
            { 
                font-size: 1.4em; 
                text-align: center;
            }

            @media (min-width: 350px) and (max-width: 460px) 
            { 
                font-size: 1.6em; 
                text-align: left; 
            }


            @media (min-width: 460px) and (max-width: 767px) 
            { 
                font-size: 1.6em; 
                margin-top: 1em;
            }

            @media (min-width: 767px) and (max-width: 1500px) 
            { 
                font-size: 2em; 
                margin-top: 0.5em;
            }

           
            font-size: 2.5em; 
        }
        
        /* All paragraph of container jumbotron*/
        p 
        {
            color: white; 
            font-size: calc(0.6em + 1px);

            @media (min-width: 440px) and (max-width: 991.98px)
            { 
                font-size: 0.8em;
            }

            @media (min-width: 992px) and (max-width: 1199.98px)
            { 
                font-size: 0.9em;
            }

            @media (min-width: 1200px) 
            {
                font-size: 1.1em;
            }
        }

        .paragraph-image-flowers-1
        {
            text-align: center;
            padding: 0!important; 

            @media (min-width: 350px) and (max-width: 991.98px)
            { 
                text-align: left;
            }

            @media (min-width: 992px) 
            { 
                text-align: left;
                margin-top: 1em; 
                
            }
        }

        .paragraph-image-flowers-2
        {
            display: none;

            @media (min-width: 350px)
            { 
                display: block;
                padding: 0!important; 
            }

        }

        .paragraph-image-flowers-3
        {
            display: none;

            @media (min-width: 515px)
            { 
                display: block;
                padding: 0!important; 
                
            }
        }

        
}       

/****
JUMBOTRON BACKGROUND
****/
.background-image-flowers 
{

    background-image: url("../images/imageHome.jpg"); 
    background-position: bottom right; 
    background-repeat: no-repeat; 

    @media (max-width: 1000px) 
    { 
        
        background-size: cover;
        background-repeat: no-repeat;
       
    }

    background-color: #201920;
    opacity: 0.90;
    


}


/****************************************************
        Carousel Last Articles and Best Article
 ***************************************************/

.title-custum
{  
    color: #81964d; 
    font-weight: bold;

    @media (max-width: 1000px)
    {
      font-size: 1.7em;  
    }
     
    font-size: 2em;
    
}

/* Title best article */
.best-article
{
    margin-top: 2em;    
}

/****
CONTAINER CAROUSELS 
****/
.container-carousel-custum
{
    background-color: #bacf8e;   
    
    .carousel-indicator-custum li
    {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #404040;
       
    }

}

/****
 CONTAINER OF ALL SLIDES 
****/
.container-slides-custum
{
    width: 80%; 
    margin: 2vh auto 1vh auto;
    

    /* One slide */
    .carousel-item-custum 
    {    
        padding-bottom: 1.2em; 
        border: 1em solid  #bacf8e;

    }    

}

#articleImageDetail{
    max-width: 100%;
    min-height: 155px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}
    
/*** 
ALL TEXT IN CARD (after image) 
****/
 .card-body-custum
{
    padding: 1vh 0 1vh 0;  
    
    /* Title card */
    .card-title-custum 
    {
        text-align: center; 
        font-weight: bold;
        height: 30px !important;
        padding: 0.4em;
        margin: 0; 

        @media screen and (min-width: 768px) and (max-width: 809px)
        {
            font-size: 0.9em !important;
        }

        @media (max-width: 1000px) 
        {
            font-size: 1em; 
        }

        font-size: 1.2em; 

    }

    /* All paragraph */
    .card-paragraph
    {
        font-size: 0.9em;
        margin: 0; 
    }

    .articleAuthor
    {
       margin-top: 0.8em; 
        display: flex; 
        justify-content: center; 

        .avatarUser 
        {
            border-radius: 50%; 
            width: 1.3em; 
            height: 1.3em; 

        }

        .card-paragraph-author 
        {
            margin-left: 5px;
            font-style: italic; 
            text-align: center;
            max-width: 60%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        
    }
    

    .card-paragraph-summary 
    {
        height: 100px;
        margin: 2vh 3vw 1vh 5vw;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

    }

    /* title, author */
    .link-custum 
    {
        color: black; 

    }
    

    .card-paragraph-note  
    {

        padding-top: 1vh;
        text-align: center;
        font-style: italic;
        font-size: 0.7em;
        margin: 0;
    }

    .btn-articleDetails
    {
        margin-top: 1vh; 
        background-color: black; 
        border-color: black; 
        padding: 0 1vw 0 1vw; 
    }    
  
}

/*************************** 
    maintenance message
****************************/
.maintenance-message 
{
 
    width: 100%;
    margin-top: 0!important;
}

   

