/******************************************************************************
                                MODALS
*******************************************************************************/

  
/***
 for btn "oui"
 **/
 .modal-container-custum 
 {
     .button-yes-custum 
     {  
        background-color: #81964d;
        border-color: #81964d;
        
     }

     .button-yes-custum:hover 
     {  
        background-color: #de6262;
        border-color: #de6262;
            
     }

     .button-yes-custum:focus
     {
      border-color: #de6262; 
      box-shadow: 0 0 0 0.2rem rgba(105, 18, 3, 0.25); 
     }

     .button-yes-custum a 
     { 
        color: white;            
     }

     .button-yes-custum a:hover
     { 
        text-decoration: none;            
     }
  
 }


 /***
 page article flag
 **/
.modal-container-articlesFlag
{
   .modal-body p 
   {
      padding: 0!important; 
      margin: 0!important; 
   }

   
}

