/*** 
Pagination
***/
.pagination-custum 
{
    display: flex;
    justify-content: center;
    font-size: 1.2em; 

    .pagination 
    {  
       
        display: flex; 
        justify-content: space-around; 
    } 

    .page , .last , .next , .previous , .first, .current
    {
       
          display: flex; 
          flex-direction: column;
          justify-content: center;

           
    }
    
    .page a, .last a, .next a, .previous a, .first a, .current 
    {
    
        color: black!important;
      
    }

    .page a,  .next a, .previous a, .current 
    {
        
    
        padding: 0.3em;
        border-radius: 12px;
       
      
    }


    .current 
    {
       
        background-color : #9eb66b; 
    }
   

}

 