

/********
CARD 
********/
.card-custum 
{  
   
    text-align: center;
    box-shadow: 2px 2px 20px rgb(128, 127, 127);
    width: 90%; 
    margin: auto; 
    margin-top: 2em; 

    @media (min-width: 500px) and (max-width: 1200px)
    { 
       width: 70%; 
    }

    @media (min-width: 1200px)
    { 
       width: 50%; 
    }

    .title-custum 
    {
        margin-top: 1em; 
    }

    a 
    {
        color: black; 
        font-size: 0.8em; 
    }

    a:hover 
    {
        text-decoration: underline; 
    }

    .link-delete
    {
        color: #de6262!important;
        background-color: transparent !important;
        border: none !important;
        font-size: 0.8em; 
        
    }

    .link-delete:hover
    {
        text-decoration: underline;
    }

    
    /*********
    BAN BUTTON
    **********/
    .user-ban
    {
        color: #e92c84!important;
        border-color: white;
        background-color: white;
        padding: 0.5em;
        border-radius: 12px; 
        font-size: calc(0.6em + 1vw);
        outline: none !important;

        @media (min-width: 768px) 
        { 
            font-size: 1em; 
        } 
    }

    .user-ban:hover 
    {
        color: #a2564d;
        background-color: white;  
        text-decoration: underline; 
        border-color: white;
    
        button
        {
            text-decoration: underline;
        }
    }

    .user-ban:focus 
    {
        background-color: white !important;   
        border-color: white !important;
        box-shadow: none;
    }

    .alreadyBanned
    {
        border: none;
        background-color: white;
        font-size: calc(0.6em + 1vw);
        @media (min-width: 768px) 
        { 
            font-size: 1em; 
        } 
    }
    
}



h2
{
    font-size: 2em; 
    color: #81964d; 
    font-weight: bold; 
}


.articles-user
{
    a 
    {
        color: black; 
    }
}