<footer class="container-fluid container-footer-custum">

    <div class="footer-link-custum d-flex justify-content-center">
        <p>
            <a href="#">
                Mention légales
            </a>
        </p>
        <p>
            <a href="#">
                A propos
            </a>
        </p>
        <p>
            <a href="#">
                Nous contacter
            </a>
        </p>
    </div>


    <p class="text-center link-title">
        <a href="#">
           Titre du site 
        </a>       
    </p>

</footer>