<footer class=" container-fluid container-footer-custum">

    <div class="footer-link-custum d-flex justify-content-center">
        <p>
            <a href="{{path('legalMention')}}">
                Mentions légales
            </a>
        </p>
        <p>
            <a href="{{path('about')}}">
                À propos
            </a>
        </p>
        <p>
            <a href="{{path('contact')}}">
                Nous contacter
            </a>
        </p>
    </div>


    <p class="text-center link-title">
        <a href="{{path('homepage')}}">
           La rubrique écolo 
        </a>       
    </p>

</footer>