{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('error') }}
{% endblock %}

{% block body %}

<div class="error">
    <h1>Oups !</h1>

    <p>
    La page que vous recherchez semble introuvable. Vous pouvez cliquer <a href="{{ path('homepage') }}">ici</a> pour retourner à l'accueil &#128522.
    </p>

    <img class="img_lost_tree" src="{{ asset('build/images/lost_tree.png')}}" alt="Erreur">
</div>

{% endblock %}