{% extends 'base.html.twig' %}


{% block title %}Mon profile{% endblock %}



{% block body %}
<div>
    <h2>Information générales</h2>
    <p>Pseudo : {{user.viewUsername}}</p>
    <p>Adresse email :  {{user.email}}</p>
    <p>Date de naissance : {{user.birthDate|date("m/d/Y", "Europe/Paris")}}</p>
</div>

<div>
    <h2>Vos articles</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th scope="col">Handle</th>
            <th scope="col">Handle</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
    {% for article in articles %}
    
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      
    {% endfor %}
</table>
</div>

<div>
    <h2>Les articles que vous avez voté</h2>
</div>
{% endblock %}